<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mb-0 h1" href="{{ url('home') }}">
        H<small>8</small>mie
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url('home') }}">Home</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-right">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('easyadmin') }}">App</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('logout') }}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('login') }}">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-dark text-light" href="{{ url('registration') }}">Sign up</a>
                </li>
            {% endif %}
        </ul>

    </div>
</nav>